body {
    .WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%;
    height: auto;
    margin: auto;
} 

    background-color: #E3E0DC;
    h1{
        font-size: 65px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}
